# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel deployment
.vercel

# TypeScript build info
*.tsbuildinfo
next-env.d.ts

# IDE / OS files
.DS_Store
*.pem
.vscode/
.idea/
